* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    height: 32px; width: 100%;
    font-size: 13px;
}

.nav {
    float:right;
    margin-right: 29px;
    margin-top: 15px;
}

.nav a {
    text-decoration: none;
    color: #333;
    line-height: 32px;
    float: left;
    margin-left: 15px;
}

.nav a:hover {
    text-decoration: underline;
    color: #444;
}

.nav div {
    float: left;
    margin-left: 20px;
}

#apps, #notif {
    opacity: 0.55;
    background-image: url("images/i1_1967ca6a.png");
    width: 20px; height: 20px;

    margin-top: 6px;
}

#apps:hover, #notif:hover, #profile:hover {
    opacity: 1;
    cursor: pointer;
}

#apps {
    background-position: -137px -43px;
}

#notif {
    background-color: #000;
    border-radius: 100%;
    background-position: -194px -21px;
    margin-left: 25px;
}

#profile {
    width: 32px; height: 32px;
    background-image: url("images/photo.jpg");
    border-radius: 100%;
    margin-left: 19px;
}