* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/* 1- Top navigation bar */

nav {
    height: 32px; width: 100%;
}

.nav {
    position: absolute;
    right: 29px;
    top: 15px;
}

.nav a {
    text-decoration: none;
    color: #333;
    line-height: 32px;
    float: left;
    margin-left: 15px;
}

.nav a:hover {
    text-decoration: underline;
    color: #444;
}

.nav div {
    float: left;
    margin-left: 20px;
}

.nav .apps, .nav .notif {
    opacity: 0.55;
    background-image: url("images/i1_1967ca6a.png");
    width: 20px; height: 20px;

    margin-top: 6px;
}

.nav .apps:hover, .nav .notif:hover, .nav .profile:hover {
    opacity: 1;
    cursor: pointer;
}

.nav .apps {
    background-position: -137px -43px;
}

.nav .notif {
    background-color: #000;
    border-radius: 100%;
    background-position: -194px -21px;
    margin-left: 25px;
}

.nav .profile {
    width: 32px; height: 32px;
    background-image: url("images/photo.jpg");
    border-radius: 100%;
    margin-left: 19px;
}

/* 2- Main elements */

main {
    width: 100%;
}

    /* Logo */

.logo {
    width: 100%; height: 233px;
    margin-top: 89px;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 272px;
    padding-top: 109px;
}

    /* Bar */

.search-bar {
    width: 600px;height: 46px;
    padding: 5px 8px 0 16px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 1px #ddd;
    margin: 0 auto;
    margin-top: -6px;
}

.search-bar:hover {
    box-shadow: 0 2px 5px #ddd;
}

.search-bar .bar {
    width: 534px;height: 34px;
    font-size: 18px;
    border: none;
}

.search-bar .bar:focus {
    outline: none;
}

.search-bar .mic {
    float: right;
    width: 40px;height: 34px;
    padding: 5px 8px;
}

.search-bar .mic:hover {
    cursor: pointer;
}

.search-bar .mic img {
    width: 24px;
}

    /* buttons */

.buttons {
    width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.gray-btn {
    font-weight: bold;
    padding: 10px 16px;
    margin: 0 5px;
    background-color: #eee;
    border: 1px solid transparent;
    opacity: .6;
    border-radius: 2px;

}

.gray-btn:hover {
    opacity: 1;
    border-color: #ddd;
}

.colab {
    margin-top: 29px;
    text-align: center;
}

.colab a {
    text-decoration: none;
}

.colab a:hover {
    text-decoration: underline;
}